# Project Outline - Data Eagles

By David Chester, Dorothy Monneh, Aidan, Joshua J, Jonathan Leonidas

## What is the Project Focus and Dataset of the project?
- The Project Focus is exploring Student Mental Health and how it affects students. 
- The Dataset is a survey collection from students attending the International Islamic University of Malaysia in the year of 2020. The reason we chose this as it was the best information we could find on mental health with the realistic goal of understanding the data in two weeks.
## Project Title ideas.
- Your out of "It is what it is."
- Are you okay?
- 
## Data Visualization
- Top Majors that suffer from depression
- Male and Female comparisons
- 
- 
## Hypothesys
- Does a specific

https://www.kaggle.com/datasets/shariful07/student-mental-health?resource=download

The Data collected from International Islamic University Malaysia

In [2]:
# Import Numpy and Datascience modules.
import numpy as np
import pandas as pd
from datascience import *

# Plotting modules
import matplotlib
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')
import warnings
warnings.simplefilter('ignore', UserWarning)
# Fix for datascience collections Iterable
import collections as collections
import collections.abc as abc
collections.Iterable = abc.Iterable

In [4]:
studentimport = Table.read_table("Student Mental health.csv")
studentimport.drop("Timestamp")

Choose your gender | Age  | What is your course? | Your current year of Study | What is your CGPA? | Marital status | Do you have Depression? | Do you have Anxiety? | Do you have Panic attack? | Did you seek any specialist for a treatment?
Female             | 18   | Engineering          | year 1                     | 3.00 - 3.49        | No             | Yes                     | No                   | Yes                       | No
Male               | 21   | Islamic education    | year 2                     | 3.00 - 3.49        | No             | No                      | Yes                  | No                        | No
Male               | 19   | BIT                  | Year 1                     | 3.00 - 3.49        | No             | Yes                     | Yes                  | Yes                       | No
Female             | 22   | Laws                 | year 3                     | 3.00 - 3.49        | Yes            | Yes                     | No                   | No                        | No
Male               | 23   | Mathemathics         | year 4                     | 3.00 - 3.49        | No             | No                      | No                   | No                        | No
Male               | 19   | Engineering          | Year 2                     | 3.50 - 4.00        | No             | No                      | No                   | Yes                       | No
Female             | 23   | Pendidikan islam     | year 2                     | 3.50 - 4.00        | Yes            | Yes                     | No                   | Yes                       | No
Female             | 18   | BCS                  | year 1                     | 3.50 - 4.00        | No             | No                      | Yes                  | No                        | No
Female             | 19   | Human Resources      | Year 2                     | 2.50 - 2.99        | No             | No                      | No                   | No                        | No
Male               | 18   | Irkhs                | year 1                     | 3.50 - 4.00        | No             | No                      | Yes                  | Yes                       | No
... (91 rows omitted)

In [8]:
student_major_count = studentimport.group("What is your course?").sort("count", descending=True)
student_major_count.show()